

folium==0.20.0



openai==0.28.0

pandas==2.2.2
PyAudio==0.2.14

pyttsx3==2.90

requests==2.31.0
requests-toolbelt==1.0.0

SpeechRecognition==3.14.3
streamlit==1.49.1
streamlit-folium==0.25.1

tkcalendar==1.6.1

